<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <style>
            table{
                border-radius: 10px 15px 5px 5px;
                background: linear-gradient(45deg, #03344F, #6FB3D8);
                color: white;
                padding: 0.5em 1em 0.5em 1em;
            }
            th,td{
                padding: 0.1em 0.25em 0.1em 0.25em;
            }
            body{
                background-image: url("https://ih1.redbubble.net/image.3107449921.3615/poster,504x498,f8f8f8-pad,600x600,f8f8f8.jpg");
                background-size: 50em;
                background-repeat: no-repeat;
                margin-left: 900px;
            }
        </style>
    </head>
    <body>
        <h1>Inicio</h1>
        <a th:href="@{/albanil/agregar}"><input type="button" value="Crear Albanil"></a>
        <a th:href="@{/obra/agregar}"><input type="button" value="Crear Obra"></a>
        <br></br>
        <div th:if="${albaniles != null and !albaniles.empty}">
            <table>
                <tr>
                    <th>Nombre:</th>
                    <th>Apellido:</th>
                    <th>Nro. Documento</th>
                    <th>Cod. Obra</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="albanil : ${albaniles}">
                    <td th:text="${albanil.nombre}">Nombre</td>
                    <td th:text="${albanil.apellido}">Apellido</td>
                    <td th:text="${albanil.nroDocumento}">Numero Documento</td>
                    <td th:text="${albanil.obra.id}">Obra</td>
                    <td><a th:href="@{/albanil/editar/} + ${albanil.id}" th:text="Editar"/></td>
                    <!--Por query parameter-->
                    <td><a th:href="@{/albanil/eliminar(id=${albanil.id})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${albaniles == null or albaniles.empty}"> La lista de albaniles está vacía </div>
        
        <br></br>
        <div th:if="${obras != null and !obras.empty}">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="obra : ${obras}">
                    <td th:text="${obra.id}">Nombre</td>
                    <td th:text="${obra.descripcion}">Apellido</td>
                    <td><a th:href="@{/obra/editar/} + ${obra.id}" th:text="Editar"/></td>
                    <!--Por query parameter-->
                    <td><a th:href="@{/obra/eliminar(id=${obra.id})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${obras == null or obras.empty}"> La lista de obras está vacía </div>
        <div class="spiderman"></div>
    </body>
</html>
