<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la Obra</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1> Datos de la Obra </h1>
         <a th:href="@{/}"><input type="button" value="Regresar"></a>
         <br></br><!-- comment -->
         <form th:action="@{/obra/guardar}" method="post" th:object="${obra}">
             <label for="id"> Id:</label>
             <input type="text" name="id" th:field="*{id}"/>
             <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Error del id</span>
             <br/>
             <label for="descripcion"> Descripcion:</label>
             <input type="text" name="nombre" th:field="*{descripcion}"/>
             <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error de la descripcion</span>
             <br/>
             <input type="submit" name="guardar" value="Guardar"/>
         </form>
    </body>
</html>
