<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del Albanil</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1> Datos del albanil </h1>
         <a th:href="@{/}"><input type="button" value="Regresar"></a>
         <br></br><!-- comment -->
         <form th:action="@{/albanil/guardar}" method="post" th:object="${albanil}">
             <input type="hidden" name="id" th:field="*{id}"/>
             <label for="nombre"> Nombre:</label>
             <input type="text" name="nombre" th:field="*{nombre}"/>
             <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error del nombre</span>
             <br/>
             <label for="apellido"> Apellido:</label>
             <input type="text" name="apellido" th:field="*{apellido}"/>
             <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error del apellido</span>
             <br/>
             <label for="nro_documento"> Nro. Documento:</label>
             <input type="text" name="nroDocumento" th:field="*{nroDocumento}"/>
             <span th:if="${#fields.hasErrors('nroDocumento')}" th:errors="*{nroDocumento}">Error del numero de documento</span>
             <br/>
             <label for="obra"> Obra:</label>
             <input type="text" name="obra" th:field="*{obra}"/>
             <span th:if="${#fields.hasErrors('obra')}" th:errors="*{obra}">Error del codigo de obra</span>
             <br/>
             
             <input type="submit" name="guardar" value="Guardar"/>
         </form>
    </body>
</html>
